@model EugeneCommunity.Models.TopicViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div>
    <h4>Topic</h4>
    <h2>@Html.DisplayFor(model => model.Name)</h2>
    <hr />
    <table class="table table-striped">
        <tr>
            <th>Date</th>       <!-- I am unsure how to get the DisplayNameFor the Posts properties -->
            <th>Sender</th>
            <th>Message</th>
        </tr>

        @foreach (var m in Model.Posts)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => m.Date)</td>
                <td>@Html.DisplayFor(modelItem => m.MemberId)</td>
                <td>@Html.DisplayFor(modelItem => m.Body)</td>
            </tr>
        }
         
    </table>
</div>
<p>
    @Html.ActionLink("Back to Topics", "Index")
</p>
